ITracker/.idea/compiler.xml
ITracker/.idea/encodings.xml
ITracker/.idea/gradle.xml
ITracker/.idea/inspectionProfiles/profiles_settings.xml
ITracker/.idea/inspectionProfiles/Project_Default.xml
ITracker/.idea/misc.xml
ITracker/.idea/modules.xml
ITracker/.idea/runConfigurations.xml
ITracker/.idea/misc.xml
ITracker/.idea/misc.xml
ITracker/.idea/inspectionProfiles/profiles_settings.xml
ITracker/.idea/inspectionProfiles/Project_Default.xml
ITracker/.idea/misc.xml
ITracker/.idea/*
ITracker/.idea/compiler.xml
ITracker/.idea/encodings.xml
ITracker/.idea/gradle.xml
ITracker/.idea/inspectionProfiles/profiles_settings.xml
ITracker/.idea/inspectionProfiles/Project_Default.xml
ITracker/.idea/misc.xml
ITracker/.idea/modules.xml
ITracker/.idea/runConfigurations.xml
ITracker/.idea/
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/location-tracker.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
ITracker/.idea/compiler.xml
ITracker/.idea/encodings.xml
ITracker/.idea/gradle.xml
ITracker/.idea/misc.xml
ITracker/.idea/modules.xml
ITracker/.idea/runConfigurations.xml
.idea/
ITracker/.idea/compiler.xml
ITracker/.idea/encodings.xml
ITracker/.idea/gradle.xml
ITracker/.idea/misc.xml
ITracker/.idea/modules.xml
ITracker/.idea/runConfigurations.xml
ITracker/.idea/gradle.xml
ITracker/.idea/misc.xml
