ITracker/.idea/compiler.xml
ITracker/.idea/encodings.xml
ITracker/.idea/gradle.xml
ITracker/.idea/inspectionProfiles/profiles_settings.xml
ITracker/.idea/inspectionProfiles/Project_Default.xml
ITracker/.idea/misc.xml
ITracker/.idea/modules.xml
ITracker/.idea/runConfigurations.xml
ITracker/.idea/misc.xml
